.App { text-align: center; }

.App-header {
  background-color: #001347;
  height: 100px;
  padding: 10px;
  color: white;
  text-align: left;
}

.App-header p { 
  margin: 5px 0px; 
  font-size: 80%; 
  font-weight: bold;
}

.App-header div { margin: 30px 0px; }

.App-title {
  font-size: 2.5em;
  margin: 10px 0 0 0px;
}

.create-title, .item-title {
  margin: 0;
  display: inline-block;
  margin-left: 15px;
  width: 220px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a { text-decoration: none; }

.plus {
  padding: 3px 14px;
  background-color: #cc0066;
  color: #fcb4d8;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 1px #7c7c7c;
  font-size: 240%;
  font-weight: bold;
}

.back {
  padding: 6px 8px;
  font-size: 200%;
  color: #fff;
  background-color: #2f2074;
  border-radius: 50%;
}

.create-form {
  margin-top: 20px;
  text-align: center;
}

.create-form input {
  width: 75%;
  border: none;
  border-bottom: 1px solid #9B9B9B;
  color: #474747;
  font-size: 130%;
  height: 45px;
  padding: 0;
}

.create-form button, .add-comment button {
  background-color: #001347;
  border: none;
  color: #fff;
  padding: 11px 18px 11px 18px;
  border-radius: 50%;
  margin-left: 5px;
  font-size: 160%;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
}

ul li {
  border-bottom: 1px solid #bdbdbd;
  text-align: left;
  font-size: 110%;
  overflow: auto;
}

.comments li { 
  text-align: left; 
  clear: left;
  overflow: auto;
  color: #696767;
  padding: 15px;
}

ul li a {
  color: #001347;
  margin: 20px 0 0 10px;
  display: inline-block;
  font-size: 120%;
  width: 220px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.add-comment {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #dadada;
}

.add-comment input {
  padding: 17px;
  margin: 10px;
  width: 65%;
  border: none;
  border-radius: 3px;
  font-size: 120%;
}

.add-comment button { margin: 10px; }

.cube {
  width: 50px;
  height: 50px;
  margin: 0 15px 0 5px;
  background-color: #001347;
}

.column { float: left; }

.column p { margin-top: 0; }

.left { width: 20%; }

.right { width: 80%; }

.comments-amount { 
  float: right;
  padding: 6px 11px 6px 11px;
  background-color: #001347;
  color: #fff; 
  border-radius: 50%;
  margin-top: 15px;
  font-weight: bold;
}

.delete {
  background-color: #cc0066;
  border: none;
  color: #fff;
  padding: 20px;
  font-size: 100%;
  float: right;
  margin-left: 10px;
}

@media (min-width: 500px) {
  .create-form input, .add-comment input { width: 35%; }

  .left { width: 10%; }

  .right { width: 90%; }

  .create-title, .item-title, ul li a {
    width: 1200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
